<div style="padding: 30px;">
    <h1>Biblioteca Digital</h1>
    <p style="font-weight: bold;">Categorias</p>
    <table class="table table-hover">
        <thead class="table-danger">
            <tr style="text-align: center;">
                <th scope="col">ID</th>
                <th scope="col">Categoria</th>
            </tr>
        </thead>
        <tbody>
            @for (item of categorias; track $index) {
                <tr style="text-align: center;">
                    <th scope="row"> {{item.id}}</th>
                    <td>{{item.categoria}}</td>
                </tr>
            }
        </tbody>
    </table>
    <p style="font-weight: bold;">Libros</p>
    <table class="table table-hover">
        <thead class="table-danger">
            <tr style="text-align: center;">
                <th scope="col">Codigo</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Año</th>
                <th scope="col">Numero de páginas</th>
            </tr>
        </thead>
        <tbody>
            @for (item of libros; track $index) {
                <tr style="text-align: center;">
                    <th scope="row"> {{item.codigo}}</th>
                    <td>{{item.titulo}}</td>
                    <td>{{item.autor}}</td>
                    <td>{{item.categoria}}</td>
                    <td>{{item.ano}}</td>
                    <td>{{item.numeroPaginas}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
